# Copy to backend.hcl after bootstrap.
# terraform init -backend-config=backend.hcl

bucket       = "platform-ref-dev-tfstate-222222222222"
key          = "network/dev/terraform.tfstate"
region       = "eu-west-2"
encrypt      = true
use_lockfile = true
